.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    margin: 20px 0 0 20px;
}

.cart-container {
    background-color: rgba(255, 153, 0, 0.3);
}

.pagination {
    margin: 40px auto;
}

.pagination button {
    margin-right: 10px;
}

.pagination .selected {
    background-color: goldenrod;
    border: 1px solid gold;
    padding: 5px 8px;
    font-weight: bold;
}

@media screen and (max-width:1100px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}